
@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");

:root{
  --background-primary: #EEF0F2;
  --background-secondary: #F3F3F3;
  --text: #1C120C;
  --text-secondary: #7A7978;
  --primary: #3626A7;
  --secondary: #0DAB76;
  --box-shadow: rgba(100, 100, 11, .2) 0px 7px 29px 0px;
}

html,body, #root {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-primary);
  color: var(--text);

}


*, *::before, *::after{
  box-sizing: border-box;
}

* {
  margin:0;
}

body{
  line-height: 1.5;
  -webkit-font-smoothing: antiliased ;
}

input, button, textarea, select {
  font: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
  overflow-wrap: break-word;
}

#root, #_next{
  isolation: isolate;
}

h1{
  font-size: 3rem;
  font-weight: 900;
}

h2{
  font-size: 2.5 rem;
  font-weight: 800;
}

h3{
  font-size: 2.25 rem;
  font-weight: 700;
}

h4{
  font-size: 2 rem;
  font-weight: 600;
}

h5{
  font-size: 1.75 rem;
  font-weight: 600;
}

h6{
  font-size: 1.5 rem;
  font-weight: 600;
}

p{
  font-size: 1.25 rem;
  font-weight: 400;
}

.page{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}

.page-container{
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--background-primary);
  box-shadow: var(--box-shadow);
  

}
